@import "./../../../styles/color";
.slide {
  width: 100vw;
  height: 60vh;
  background-image: url("/images/slides/wallpaper.jpg");
  background-size: 100% 100%;
}
.rows {
  display: flex;
  flex-wrap: wrap;
}

.saying {
  font-size: 60px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.3px;
  @media screen and (max-width: "460px") {
    font-size: 30px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1px;
  }
}
.main {
  height: 60vh;
  text-align: center;
  padding: 70px 0;
  background-color: $shapeBgColor;
  @media screen and (max-width: "460px") {
    height: 30vh;
    padding: 50px 0;
  }
}
.subSaying {
  font-size: 30px;
  font-weight: 400;
  color: rgb(27, 26, 26);
  letter-spacing: 0.1px;
  @media screen and (max-width: "460px") {
    font-size: 15px;
    font-weight: 200;
  }
}
