// menu color
$menuColor: #0c2d48;
$menuTextColor: #ffff;
$menuTextColorHover: #2e8bc0;

// HomePage Color
$shapeBgColor: #f7f9f8;
$textColor: #0000;

// footer Color
$footerBgColor: #333333;
$footerTextColor: #ffffff;

$mainColor: #2e8bc0;
